doctype html
html
    head
        title #{title}
        link(rel='stylesheet' href='/css/style.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="theme-color" content="#140a33")
        link(rel='icon' href='/logos/favicon-v2.ico')
        link(rel='shortcut icon' href='/logos/favicon-v2.ico' type='image/x-icon')
        link(rel='apple-touch-icon' href='/logos/favicon-v2.ico' type='image/x-icon')
        //Safari Pinned Tab Icon
        //link(rel='mask-icon' href='/logos/favicon-v2.ico')

    body
        main
            block header
            header.header
                h1 #{title}
                a.button.reboot(href='/restart') ↺
                br
                a.button.header-tab(href=`/`) Home
                a.button.header-tab(href=`/console`) Console



            block content
            block spacer 
                spacer.spacer
            block footer 
                footer.footer 
                    p By Bloomkd46
