/* ==========================================================================
   #STYLES
   ========================================================================== */


/**
 *
 * [1]: Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 * [2]: WordPress System font-stack
 */


/* RESET
   ========================================================================== */


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* [1] */
  margin: 0;
  padding: 0;
}



/* FONTS
   ========================================================================== */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* [2] */
  background-color: #00490b;
}



/* Header
   ========================================================================== */

.header {
  width: 100%;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: #313131;
  color: #616161;
  /*margin-bottom: 50px;*/
  text-align: center;
  vertical-align: middle;

}
/* Tabs
   ========================================================================== */
.header-tab {
  /*display: flex;*/
  /*justify-content: center;
  align-items: center;
  background-color: #313131;
  /*margin-bottom: 50px;
  text-align: center;
  vertical-align: middle;
  word-spacing: 50%;*/
  align-content: space-between;
  border-radius: 5px;
  border-color: #000000;
  color: #616161;
}
/* Footer
   ========================================================================== */

   .footer {
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #313131;
    color: #616161;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
/* Spacer
   ========================================================================== */
   .spacer {
    display: flex;
    min-height: 6in;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
/* Homepage Container
   ========================================================================== */

.container {
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}



/* Profile Card
   ========================================================================== */

.person {
  text-align: center;
}

.person > * {
  margin-bottom: 5px;
}

.person-image {
  width: 100%;
  height: 300px;
}



/* Profile Page
   ========================================================================== */

.profile {
  display: flex;
  height: 100vh;
  width: 100%;
}

.profile-image {
  height: 100%;
  flex-grow: 1;
  flex-basis: 50%;
}

.profile-details {
  flex-basis: 30%;
  flex-grow: 1;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-details > * {
  margin-bottom: 20px;
}



/* Buttons
   ========================================================================== */

.button {
  height: 50px;
  line-height: 50px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background-color: #575757;
  color: #000000;
  border-radius: 5px;
}

.button-twitter {
  color: #FFFFFF;
  background-color: #659AF1;
  border-radius: 5px;
}
.reboot {
  width: 100%;
  /*display: flex;*/
  justify-content: right;
  align-items: right;
  height: 10%;
  background-color: #313131;
  color: #616161;
  /*margin-bottom: 50px;*/
  text-align: right;
  vertical-align: right;
}


/* Console Results
   ========================================================================== */
   .result {
    background: rgb(85, 85, 85);
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    line-break: strict;
   /* display: table-cell;*/
    /*background-color: black;
    color: #a7a7a7;*/

   }
   .command-execute {
    
    vertical-align: middle;
    text-align: center;
   }